.searchWrapper {
  position: relative;
  width: 480px;

  &::before {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    content: "";
    background-image: url("../../assets/search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    z-index: 1;
  }
}

.searchInput {
  width: 100%;
  border-radius: 5px;
  padding-left: 74px;
  height: 56px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  outline: none;
  border: none;

  &::placeholder {
    font-size: 14px;
    line-height: 1.45;
    color: #808080;
  }
}
